
<h1 class="header-title"><%= @category.name %></h1> 

  <button class="btn btn-dark" type="button">
    <%= link_to 'All Tasks', user_category_lists_path(@user, @category) %>
  </button>
  
<table class="table table-bordered">

  <thead class="table-dark">
        <tr>
          <th>Category ID</th>
          <th>Task Description</th>
          <th>Date</th>
          <th>Status</th>
          <th>Option</th>
        </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
    <% if list.due_date === Date.today %>
    <% if list.completed %>
      
      <tr class="table-secondary">
      
      </tr>
        <td><%= list.id %></td>
        <td class="striker"><%= link_to list.description, edit_user_category_list_path(@user, @category, list) %></td>
        <td><%= list.due_date %></td>
        <td>
          <center> 
              <%= form_with(model:[@user, @category, list]) do |f| %>
                <%= f.text_field :description, type: 'hidden' %>
                <%= f.check_box :completed, :checked => false, :style => 'visibilit: hidden' %>
                <%= f.submit "Not been Completed", class: 'btn btn-outline-secondary btn-sm' %>
            <% end %> 
          </center>
        </td>
        
        <td><%= link_to 'Remove', user_category_list_path(@user, @category, list), class: 'btn btn-ouline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% else %>
      <tr class= 'status'>
        <td><%= list.id %></td>
        <td><%= link_to list.description, edit_user_category_list_path(@user,@category, list) %></td>
        <td><%= list.due_date %></td>
        <td>
          <center> 
            <%= form_with(model:[@user, @category, list]) do |f| %>
              <%= f.text_field :description, type: 'hidden'%>
              <%= f.check_box :completed, :checked => true, :style => 'visibilit: hidden' %>
              <%= f.submit "Completed", class: 'btn btn-outline-secondary btn-sm' %>
            <% end %>  
          </center>
          
        </td>
        <td><%= link_to 'Remove', user_category_list_path(@user, @category, list), class: 'btn btn-ouline-danger btn-sm'  ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>  
    <% end %>  
    <% end %>
  </tbody>
  </table>
